<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>あっち向いてホイ</title>
</head>
<body>
    <p>あなたの顔の向きは<%= your %>です．</p>
    <p>コンピュータの指の向きは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
    <form action="/hoi">
        <input type="text" name="face" required>
        <label for="face">次はどっちを向く？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="じゃんけん　ポン">
    </form>   
</body>
</html>